<%if (locals.cartItem.length === 0) {%>
<div class="cartItems">
  <h1>カート一覧</h1>
  <h2>現在登録された商品はございません。</h2>
</div>
<%}else{%>
<div class="cartItems" id="cart-box">
  <h1>カート一覧</h1>
  <ul>
    <%locals.cartItem.map((p)=>{%>
    <li class="eachCart" key="<%=p.productId%>">
      <div class="row dTable">
        <div class="min-30 dTable_c">
          <h3>
            <a href="/product/<%=p.productId%>"> <%=p.name%> </a>
          </h3>
        </div>
        <input
          class="eachInput dTable_c"
          id="<%=p.productId%>"
          type="number"
          min="1"
          max="<%=p.countInStock%>"
          value="<%=p.qty%>"
        />

        <div class="eachPrice dTable_c" data-price="<%=p.price%>"><%=p.price.toLocaleString()%>円</div>

        <div class="sumPrice dTable_c min-20" data-price="<%=p.price%>">小計<%=(p.price*p.qty).toLocaleString()%>円</div>
        <div class="dTable_c">
          <a class="cart_delete" data-id="<%=p.productId%>"><i class="fas fa-trash"></i></a>
        </div>
      </div>
    </li>
    <%})%>
  </ul>
</div>
<%}%>
