<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Product</title>
  </head>

  <body>
    <% if(!product) { %>
    <div>該当商品なし</div>
    <%} else {%> <%-include('./partial/header');%>
    <a href="/">戻る</a>
    <div class="row top">
      <div class="col-2">
        <img class="large" src="<%=product.image%>" alt="<%=product.name%>" />
      </div>
      <div class="col-1">
        <ul>
          <li>
            <h1><%=product.name%></h1>
          </li>
          <li>
            <%-include('./partial/rating.ejs',{rating:product.rating,
            numReviews:product.numReviews});%>
          </li>
          <li>price:￥<%=product.price%></li>
          <li>
            商品詳細
            <p><%=product.description%></p>
          </li>
        </ul>
      </div>
      <div class="col-1">
        <div class="card card-body">
          <ul>
            <li>
              <div class="row">
                <div>Price</div>
                <div class="price">￥<%=product.price%></div>
              </div>
            </li>
            <li>
              <div class="row">
                <div>status</div>
                <div>
                  <% if (product.countInStock> 0 ) { %>
                  <span class="success"> 在庫あり </span>
                  <% } else { %>
                  <span class="error"> 在庫なし </span>
                  <% } %>
                </div>
              </div>
            </li>
            <div class="row">
              <div>数量</div>
            </div>


            <script>
            function clicker(){
              value = document.getElementById("cartNum").value
              let selectedNum = value
              let link = document.getElementById('cartUrl');
              link.href = "/cart/" + value
              console.log(link.href);

            }
            </script>

           <select id="cartNum" onchange="clicker()">
              <% for(let num = 1; num <= product.countInStock; num ++) { %>
              <option value="<%= num %>" ><%= num %></option>
              <% } %>
            </select>
            <li>
              <a id='cartUrl' href="/cart"><button class="primary block"　>カートに追加</button></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%-include('./partial/footer');%> <%}%>
  </body>
</html>
