<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>商品詳細</title>
  </head>

  <body>
    <% if(!product) { %>
    <div>該当商品なし</div>
    <%} else {%> 
      <%-include('./partial/header');%>
    <a href="/">戻る</a>
    <div class="row top">
      <div class="col-2">
        <img class="large" src="<%=product.image%>" alt="<%=product.name%>" />
      </div>
      <div class="col-1">
        <%-include('./partial/productDetail',{product:product});%>
      </div>
      <div class="col-1">
        <%-include('./partial/cartCard',{product:product});%>
      </div>
    </div>
    <%-include('./partial/footer');%> 
    <%-include('./partial/JqueryTag');%>
    <%}%>
  </body>
</html>
