<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>商品詳細</title>
  </head>

  <body>
    <% if(!product) { %>
    <div>該当商品なし</div>
    <%} else {%> <%-include('./partials/header');%>
    <div class="row top">
      <div class="col-2">
        <img class="large" src="<%=product.image%>" alt="<%=product.name%>" />
      </div>
      <div class="col-1">
        <%-include('./partials/productDetail',{product:product});%>
      </div>
      <div class="col-1">
        <%-include('./partials/cartCard',{product:product});%>
      </div>
    </div>
    <%-include('./partials/footer');%> <%}%>
    <script
      src="//code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="/script.js"></script>
  </body>
</html>
