<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Jungle</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="raw">
        <di><a href="#" class="logo">Jungle</a></di>
        <div><a href="">カートリスト</a><a href="#">sign in</a></div>
      </header>
      <main>
        <div class="raw center">
          <% products.map((product) =>{ %>
          <div class="card">
            <a href="/product/<%=product._id%>">
              <img class="image-body" src="<%=product.image%>" />
            </a>
            <div class="card-body">
              <a href="/product/<%=product._id%>">
                <h2><%=product.name%></h2>
              </a>
              <div class="rating">
                <span>
                  <i class="<%=product.rating >= 1 ? "fa fa-star" :product.rating >= 0.5 ? "fa fa-star-half-alt" : "fa fa-star-o" %>"></i>
                </span>     
                <span>
                  <i class="<%=product.rating >= 2 ? "fa fa-star" :product.rating >= 1.5 ? "fa fa-star-half-alt" : "fa fa-star-o" %>"></i>
                </span>
                <span>
                  <i class="<%=product.rating >= 3 ? "fa fa-star" :product.rating >= 2.5 ? "fa fa-star-half-alt" : "fa fa-star-o" %>"></i>
                </span>
                <span>
                  <i class="<%=product.rating >= 4 ? "fa fa-star" :product.rating >= 3.5 ? "fa fa-star-half-alt" : "fa fa-star-o" %>"></i>
                </span>
                <span>
                  <i class="<%=product.rating >= 5 ? "fa fa-star" :product.rating >= 4.5 ? "fa fa-star-half-alt" : "fa fa-star-o" %>"></i>
                </span>
                <span><%=product.numReviews + ' reviews'%> </span>
              </div>
              <div class="price">￥<%=product.price%></div>
            </div>
          </div>
          <% }) %>
        </div>
      </main>
      <footer class="raw center">ALL right reserved</footer>
    </div>
    <script
      src="//code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
