<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('../partials/Stylesheet');%>
    <title>カート</title>
  </head>

  <body>
    <div class="grid-container">
      <%-include('../partials/Header');%>
      <main>
        <div class="row">
          <div class="cart-col-1">
            <div class="cart-index">
              <h1>カート一覧</h1>
              <ul>
                <%locals.cartItem.map((item)=>{%>
                <li class="eachCart" key="<%=item.productId%>">
                  <div class="row dTable">
                    <div class="min-10 dTable_c">
                      <a href="/product/<%=item.productId%>">
                        <p><%=item.name%></p>
                      </a>
                    </div>
                    <input
                      class="eachInput dTable_c"
                      type="number"
                      min="1"
                      max="<%=item.countInStock%>"
                      value="<%=item.qty%>"
                    />

                    <div class="eachPrice dTable_c"><%=item.price%></div>

                    <div class="sumPrice dTable_c">
                    <%=item.price*item.qty%>
                    </div>
                    <form
                      action="cart/delete/<%=item.productId%>"
                      method="POST"
                    >
                      <button class="cart-delete dTable_c">削除</button>
                    </form>
                  </div>
                </li>
                <%})%>
              </ul>
            </div>
          </div>
          <div class="cart-col-2">
            <div class="cart-subtotal">
              <div class="card card-body">
                <ul>
                  <li>
                    <h2 id="sum_price"></h2>
                    <h2 id="sum_qty"></h2>
                  </li>
                  <li>
                    <button class="cart-button">支払ボタン</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%-include('../partials/Footer');%>
    </div>
    <%-include('../partials/Jquery');%>
  </body>
</html>
