<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('../partials/Stylesheet');%>
    <title>カート</title>
  </head>

  <body>
    <div class="grid-container">
      <%-include('../partials/Header');%>
      <main>
        <div class="row">
          <div class="col-2">
            <%-include('../partials/CartItems');%>
          </div>
          <div class="col-1">
            <div>
              <div class="card card-body">
                <ul>
                  <li>
                    <h2 id="sum_price"></h2>
                    <h2 id="sum_qty"></h2>
                  </li>
                  <li>
                    <form action="/checkOut/2" class="form">
                      <button class="primary block" type="submit">
                        レジに進む
                      </button>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%-include('../partials/Footer');%>
    </div>
    <%-include('../partials/Jquery');%>
  </body>
</html>
