<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('../Stylesheet');%>
    <title>カート</title>
  </head>

  <body>
    <div class="grid-container">
      <%-include('../Header');%>
      <main>
        <div class="row">
          <div class="col-2"><%-include('../CartItems');%></div>
          <%if (locals.cartItem.length > 0) {%>
          <div class="col-1" id="cart-sum">
            <div class="card card-body " >
              <ul>
                <li>
                  <h2 id="sum_price">0円</h2>
                  <h2 id="sum_qty">0点</h2>
                </li>
                <li>
                  <form action="/checkOut/2" class="form" method="POST">
                    <button class="primary block" type="submit">
                      レジに進む
                    </button>
                  </form>
                </li>
              </ul>
            </div>
          </div>
          <%}%>
        </div>
        <%-include('../Support');%>
      </main>
      <%-include('../Footer');%>
    </div>
    <%-include('../Jquery');%>
  </body>
</html>
