<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%=googleMapApi%>&callback=initMap"></script>
    <%-include('../Stylesheet');%>
    <title>注文画面</title>
  </head>
  <body>
    <div class="grid-container">
      <%-include('../Header');%>
      <main>
        <%-include('../CheckOutSteps',{ steps: steps });%>
        <%if(steps[1] !=="" && steps[2] ===""){%>
        <%-include('../Shipping');%>
        <%} else if(steps[2] !=="" &&steps[3] ===""){%> 
        <%-include('../Payment');%> 
        <%} else if(steps[3] !==""){%> 
        <%-include('../PlaceOrder');%> 
        <%}%>
      </main>
      <%-include('../Footer');%>
    </div>
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    <script src="/javascripts/googleMap.js"></script>
    <%-include('../Jquery');%>
  </body>
</html>
