<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('../Stylesheet');%>
    <title>注文履歴</title>
  </head>
  <body>
    <div class="grid-container">
      <%-include('../Header');%>
      <main>
        <div><h1>注文履歴</h1></div>
        <table class="table dTable">
          <thread>
            <thead>
              <th>ID</th>
              <th>支払額</th>
              <th>支払</th>
              <th>支払方法</th>
              <th>日付</th>
            </thead>
          </thread>
          <tbody>
            <%locals.userData.order.map((x)=>{%>
            <tr>
              <td><%=x._id%></td>
              <td><%=x.ordered_price.toLocaleString()%>円</td>
              <td><%=x.method%></td>
              <td><%=x.payment%></td>
              <td><%=x.createdAt%></td>
            </tr>
            <%})%>
          </tbody>
        </table>
        <%-include('../Support');%>
      </main>
      <%-include('../Footer');%>
    </div>
    <%-include('../Jquery');%>
  </body>
</html>
