<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('../Stylesheet');%>
    <title>注文画面</title>
  </head>
  <body>
    <div class="grid-container">
      <%-include('../Header');%>
      <main>
        <div class="row top">
          <div class="col-2">
            <ul>
              <li>
                <div class="card card-body">
                  <h2>配送</h2>
                  <p>郵便番号: <%=locals.shipping.postalCode%></p>
                  <p>住所: <%=locals.shipping.adress%></p>
                </div>
                <div class="card card-body">
                  <h2>お支払方法</h2>
                  <p id="payment_method">お支払方法:<%=locals.userData.payment.method%></p>
                </div>
                <div class="card card-body">
                  <h2>注文内容</h2>
                  <div class="cartItems placeOrder">
                    <ul>
                      <%locals.cartItem.map((p)=>{%>
                      <li class="eachCart" key="<%=p.productId%>">
                        <div class="row dTable">
                          <div class="min-10 dTable_c">
                            <h3>
                              <a href="/product/<%=p.productId%>"><%=p.name%></a>
                            </h3>
                          </div>
                          <div class="eachQty dTable_c" data-qty="<%=p.qty%>"><%=p.qty%>点</div>
        
                          <div class="eachPrice dTable_c"><%=p.price.toLocaleString()%>円</div>
        
                          <div class="orderedSumPrice dTable_c">小計<%=(p.price * p.qty).toLocaleString()%>円</div>
                        </div>
                      </li>
                      <%})%>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-1">
            <div class="card card-body">
              <ul>
                <li>
                  <h2>注文内容</h2>
                  <div id="ordered_qty"></div>
                  <div id="ordered_price" value=""></div>
                </li>
                <li id="payment_button"></li>
                <li class="paypal_test_account">
                  <h4>テスト決済用ペイパルアカウント</h4>
                  <h5>email: sb-ttu43x6177036@personal.example.com</h5>
                  <h5>password: ;?5HDTom</h5>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </main>
      <%-include('../Footer');%>
    </div>
    <%-include('../Jquery');%>
    <script src="/javascripts/paypal.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=<%=paypalId%>&currency=JPY"></script>
  </body>
</html>
