<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('../Stylesheet');%>
    <title>商品詳細</title>
  </head>

  <body>
    <% if(!product) { %>
    <div>該当商品なし</div>
    <%} else {%>
    <div class="grid-container">
      <%-include('../Header');%>
      <main>
          <div class="row top">
            <div class="col-1">
              <img class="large-img" src="<%=product.image%>" alt="<%=product.name%>"/>
            </div>
            <div class="col-2">
              <%-include('../ProductDetail',{product:product});%>
            </div>
            <div class="col-1">
              <%-include('../CartCard',{product:product});%>
            </div>
          </div>
          <div class="col-1">
            <%-include('../reviewCard',{reviews:reviews,product:product});%>
          </div>
      </main>
      <%-include('../Footer');%>
    </div>
    <%}%> <%-include('../Jquery');%>
  </body>
</html>
