<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('../Stylesheet');%>
    <title>レビューフォーム</title>
  </head>
  <body>
    <div class="grid-container">
      <%-include('../Header');%>
      <main>
        <div>
          <form class="form" action="/product/review/<%=product._id%>" method="POST">
            <div>
              <h1>レビューフォーム</h1>
              <h2><%=product.name%></h2>
              <img class="image-body" src="<%=product.image%>" />
            </div>
            <div>
              <label for="review">評価</label>
              <ul>
                <li><label><input class="input" type="radio" value="1" name="review" ><span>大変不満 ★</span></label></li>
                <li><label><input class="input" type="radio" value="2" name="review" ><span>少し不満 ★★</span></label></li>
                <li><label><input class="input" type="radio" value="3" name="review" ><span>どちらでもない ★★★</span></label></li>
                <li><label><input class="input" type="radio" value="4" name="review" ><span>少し満足 ★★★★</span></label></li>
                <li><label><input class="input" type="radio" value="5" name="review" ><span>大変満足 ★★★★★</span></label></li>
            </ul>
            </div>
            <div>
              <label for="title">題名</label>
              <input type="text" name="title" placeholder="例：大変気に入りました" />
            </div>
            <div>
              <label for="comment">コメント</label>
              <textarea type="text" name="comment" placeholder="評価の理由"></textarea>
            </div>
            <div>
              <label for="public_name">投稿者名</label>
              <input type="text" name="public_name" placeholder="コメント用の名前" value=""/>
            </div>
            <div>
              <label for="review-form-button">
                  <button id="review-form-button" class="primary block" type="submit">決定</button>
              </label>
            </div>
          </form>
        </div>  
        <%-include('../Support');%> 
      </main>
      <%-include('../Footer');%>
    </div>
    <%-include('../Jquery');%>
  </body>
</html>
