<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('../Stylesheet');%>
    <title>検索結果/title>
  </head>

  <body>
    <div class="grid-container">
      <%-include('../Header');%>
      <main>
        <%if(results.length > 0 ){%>
        <div class="row center">
          <%-include('../ProductCard',{products:results});%>
        </div>
        <%}else{%>
        <div>
          <h1>カート一覧</h1>
          <h2>条件に一致する商品はございません。</h2>
        </div>
        <%}%>
      </main>
      <%-include('../Footer');%>
    </div>
    <%-include('../Jquery');%>
  </body>
</html>
