<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('../partials/Stylesheet');%>
    <title>発送</title>
</head>
<body>
    <div class="grid-container">
        <%-include('../partials/Header');%>
        <main>
        <%-include('../partials/PaymentSteps',{ steps: steps });%> 

        </main>
        <%-include('../partials/Footer');%>
    </div>

    <%-include('../partials/Jquery');%>
</body>
</html>