<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('../Stylesheet');%>
    <title>サインアップ</title>
  </head>

  <body>
    <div class="grid-container">
      <%-include('../Header');%>
      <main>
        <div>
          <form class="form" method="POST" action= <% qty == 0 ? '/SignUp' : url %>>
            <div>
              <h1>サインアップ</h1>
            </div>
            <% if (errors.length > 0) { %>
            <div class="error-container">
              <ul class="errors">
                <% errors.forEach((error)=>{ %>
                  <li> <%= error %> </li>
                <% }); %>
              </ul>
            </div>
            <% } %>
            <div>
                <label for="userName">名前</label>
                <input
                  type="userName"
                  placeholder="sample man"
                  name="userName"
                />
            </div>
            <div>
              <label for="email">メールアドレス</label>
              <input
                type="email"
                placeholder="XXX@YYY.com"
                name="email"
              />
            </div>
            <div>
              <label for="password">パスワード</label>
              <input
                type="password"
                placeholder="aaaa"
                name="password"
              />
            </div>
            <div>
              <label for="adomin"><input type="checkbox" name="adomin" value="adomin">セラーとして登録</label>
            </div>
            <div>
              <label for="">
                  <button class="primary block" type="submit">サインイン</button>
              </label>
            </div>
            <div><strong><a href="/signIn">登録済みの方はこちら</a></strong></div>
          </form>
        </div>
      </main>
      <%-include('../Footer');%>
    </div>
    <%-include('../Jquery');%>
  </body>
</html>
