<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('../Stylesheet');%>
    <title>ユーザ情報</title>
  </head>

  <body>
    <div class="grid-container">
      <%-include('../Header');%>
      <main>
        <div>
          <form class="form" action="/api/update/userProfile" method="POST">
            <div><h1>ユーザー情報</h1></div>
            <div>
              <label for="name">名前</label>
              <input
                name="name"
                type="text"
                placeholder="名前を入力"
                value="<%=locals.userData.name%>"
              />
            </div>
            <div>
              <label for="email">メール</label>
              <input
                name="email"
                type="text"
                placeholder="emailを入力"
                value="<%=locals.userData.email%>"
              />
            </div>
            <div>
              <label for="password">パスワード</label>
              <input
                name="password"
                type="password"
                placeholder="passwordを入力"
              />
            </div>
            <div>
              <button id="updateConfirmation" class="primary" type="submit">登録</button>
            </div>
          </form>
        </div>
        <%-include('../Support');%>
      </main>
      <%-include('../Footer');%>
    </div>
    <%-include('../Jquery');%>
  </body>
</html>
